.deps
.libs
Makefile
Makefile.in
*.la
*.lo
*.o
*.gmo
*.schemas
*.xml
*.pc
*.desktop
*.moc.cpp
*~
intltool*
aclocal.m4
autom4te.cache
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
configure.lineno
depcomp
doltcompile
doltlibtool
install-sh
libtool
ltmain.sh
missing
shave
shave-libtool
stamp-h1
cscope.*
src/fusilli
gtk/window-decorator/fusilli-decorator-gtk
kde/window-decorator-kde4/kde4-window-decorator
kde/window-decorator-kde4/kwinadaptor.cpp
kde/window-decorator-kde4/kwinadaptor.h
mkinstalldirs
po/.intltool-merge-cache
po/Makefile.in.in
po/POTFILES
po/stamp-it
fsm
